* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #444;
}

nav a {
    display: block;
    float: left;
    height: 60px;
    width: 15%;
    margin: 20px;
    line-height: 60px;
    border: 1px solid magenta;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    background-color: #222;
    color: magenta;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

section {
    float: left;
}